name: Update Qiita Posts

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update-qiita:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Fetch Recent Qiita Posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://qiita.com/Necoze/feed.atom"
          file_path: "index.html"
          comment_tag_name: "QIITA-POSTS"
          max_post_count: 3
          template: |
            <a href="$url" class="card-link" target="_blank">
              <article class="card">
                <div class="card-img">QIITA ARTICLE</div>
                <div class="card-content">
                  <div class="card-tag">Qiita / PRODUCT</div>
                  <h3 class="card-title">$title</h3>
                </div>
              </article>
            </a>
